/assert.py
/asyncio.py
/book_store.py
/bot_gpt.py
/bytes_to_hex.py
/chat_GPT.py
/classes
/cpuperf.py
/exceptions.py
/fib.py
/fibb.py
/fib_num.py
/generator_itertools.py
/gevent.py
/ioperf.py
/is_prime.py
/Library.py
/manual_library.py
/merged_querys.py
/my_api_key = sk-proj-f8iH9MAHXnGLIN.txt
/prime.py
/primes.py
/prime_is.py
/race.py
/rock_sizers_paper.py
/s.pyi
/serial_scraper.py
/skr.py
/smth_else.py
/web_scraping1.py
/zzz.py
/__pycache__